.admin-form {
  max-width: 400px;
  margin: 40px auto;
  background: #111;
  padding: 20px;
  border-radius: 8px;
}

.admin-form h2 {
  color: #fff;
  margin-bottom: 15px;
}

.admin-form input,
.admin-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: none;
}

.admin-form button {
  width: 100%;
  padding: 12px;
  background: #ffcc00;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
